.pdfviewer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__title {
    color: var(--primary);
    text-align: start;
    font-weight: 600;
  }

  &__invoice {
    width: 100%;

    &-info {
      text-align: start;
    }
  }

  &__list {
    mat-list-item {
      cursor: pointer;
      text-align: start;
    }
  }
}