<h1 class="pdfviewer__title">Invoices</h1>

<div class="pdfviewer">
  <div class="pdfviewer__invoice">
    <mat-list role="list" class="pdfviewer__invoice-info">
      <mat-list-item role="listitem">name: {{openedInvoice.name}}</mat-list-item>
      <mat-list-item role="listitem">date: {{openedInvoice.date}}</mat-list-item>
      <mat-list-item role="listitem">amount: {{openedInvoice.amount}}</mat-list-item>
      <mat-list-item role="listitem">address: {{openedInvoice.address}}</mat-list-item>
    </mat-list>
    <ngx-extended-pdf-viewer [src]="'assets/pdfs/' + openedInvoice.pdf">
    </ngx-extended-pdf-viewer>
  </div>

  <mat-card appearance="outlined" class="pdfviewer__list">
    <mat-card-header>
      <mat-card-title>Invoices</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <mat-list role="list" class="pdfviewer__info">
        <mat-list-item role="listitem" *ngFor="let invoice of invoices">{{invoice.name}}</mat-list-item>
      </mat-list>
    </mat-card-actions>
  </mat-card>

</div>