.pdfviewer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__title {
    color: var(--primary);
    text-align: start;
    font-weight: 600;
  }

  &__invoice-container {
    width: 100%;
  }

  &__invoice {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;

    &-info {
      text-align: start;
    }

    ngx-extended-pdf-viewer {
      height: 50rem;
    }
  }

}