@use '@angular/material' as mat;

$primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$accent: mat.m2-define-palette(mat.$m2-amber-palette);

$theme: mat.m2-define-light-theme((color: (
      primary: $primary,
      accent: $accent,
)));

@include mat.all-component-themes($theme);

:root {
  --primary: #{mat.m2-get-color-from-palette($primary)};
  --accent: #{mat.m2-get-color-from-palette($accent)};
}