@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette);

$theme: mat.define-light-theme((color: (
      primary: $primary,
      accent: $accent,
)));

@include mat.all-component-themes($theme);

:root {
  --primary: #{mat.get-color-from-palette($primary)};
  --accent: #{mat.get-color-from-palette($accent)};
}