<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Account data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">name: {{(user$ | async)?.name}}</mat-list-item>
      <mat-list-item role="listitem">email: {{(user$ | async)?.email}}</mat-list-item>
      <mat-list-item role="listitem">date: {{(user$ | async)?.date}}</mat-list-item>
      <mat-list-item role="listitem">address: {{(user$ | async)?.address}}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openDialog()">Edit</button>
  </mat-card-actions>
</mat-card>