  .invoices-list {
    ::ng-deep mat-list-item {
      text-align: start;

      & > span:first-child {
        cursor: pointer !important;

        &> span:first-child{
          font-size: 12px;

        &:hover{
          color: var(--primary);
        }}
      }
    }
  }