@use 'styles/theme';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}